.link{
  text-align: center;
  font-size: 0.9rem;
  color: rgb(0, 36, 36);
  transition: all .3s ease;
}

.link:hover{
  color: rgb(40, 185, 124);
}

.success{
  color: rgb(40, 185, 124);
  font-size: 0.9rem;
  word-wrap: break-word;
}